* {
    text-align: center;
    /* border: 2px solid #DDC3A5; */
}

body {
    background-color: white;
}

h1 {
    font-size: 4rem;
    height: 100px;
}

hr {
    width: 70%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 100px;
    /* text-align: center; */
}

.dice {
    height: 400px;
    width: 300px;
    margin: 30px;
    display: inline-block;
}

img {
    height: 120px;
    width: 120px;
    position: absolute;
    /* opacity: 0.5; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


#dice {
    margin-top: 50px;
    display: inline-block;
}
.ddd {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /* animation: throw 2s linear; */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    --x: 61px;
    --y: -61px;
    /* background-color: rgba(87, 93, 212, 0.537); */

    position: relative;
    left: 0px;
    top: 0px;

}


.run {
    animation: throw 2s linear;
}

@keyframes throw {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        left: 675px;
        top: -500px;
    }

    20% {
        transform: rotateX(80deg) rotateY(80deg) rotateZ(80deg);
        left: 400px;
        top: -550px;
    }

    40% {
        transform: rotateX(160deg) rotateY(160deg) rotateZ(160deg);
        left: 300px;
        top: -400px;
    }

    60% {
        transform: rotateX(330deg) rotateY(330deg) rotateZ(330deg);
        left: 200px;
        top: -0px;
    }

    80% {
        transform: rotateX(500deg) rotateY(500deg) rotateZ(500deg);
        left: 100px;
        top: -250px;
    }

    100% {
        transform: rotateX(700deg) rotateY(700deg) rotateZ(700deg);
        left: 0px;
        top: 0px;
    }

}

.one {
    transform: translateZ(var(--x));
    /* opacity: 0.5; */
}

.two {
    transform: translateX(var(--y)) rotateY(-90deg);
    /* opacity: 0.5; */
}

.three {
    transform: translateY(var(--x)) rotateX(90deg);
    /* opacity: 0.5; */
}

.four {
    transform: translateY(var(--y)) rotateX(90deg);
}

.five {
    transform: translateX(var(--x)) rotateY(90deg);
}

.six {
    transform: translateZ(var(--y));
}

/* #dice-value {
    width: 30px; */
                 /* height: 50px; */     
    /* font-size: 2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.52);
    color: #ffffff;
    position: absolute; */
                /* top: 40%;
                left: 38%; */
                /* float: left; */
    /* padding: 0px;
    margin-left: 85px;
    margin-top: -225px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgb(255, 255, 255); */
               /* display: none; */
/* } */